{% extends 'base.html.twig' %}

{% block title %}Hello AlumnosController!{% endblock %}

{% block body %}

<div class="container ">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nombre</th>
                <th scope="col">apellidos</th>
                <th scope="col">año</th>
                <th scope="col">calificaciones</th>
                <th scope="col">matriculas</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ alumno.id ? alumno.id : "" }}</th>
                <td>{{ alumno.nombre ? alumno.nombre : ""}}</td>
                <td>{{ alumno.apellidos ? alumno.apellidos : ""}}</td>
                <td>{{ alumno.anionacimiento ? alumno.anionacimiento|date() : ""}}</td>
                <td>

                </td>
                <td>
                    {% for asignatura in alumno.getMatricula %}
                        <a href="{{ path('asignatura',{'id':asignatura.getId}) }}"><li>{{ asignatura.getId ~ ' ' ~ asignatura.getNombre ~ ' - Titulacion: ' ~ asignatura.getTitulacion  }}</li></a>
                    {% endfor %}
                    <a class="btn btn btn-info mt-1" href="{{ path('addMatricula',{'id':alumno.id}) }}">Matricular</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
