{% extends 'base.html.twig' %}

{% block title %}Hello AlumnosController!{% endblock %}

{% block body %}
{{ dump() }}
<div class="container ">
    {% for message in app.flashes('notice') %}
        <div class=" alert alert-success">
            {{ message }}
        </div>
    {%  endfor %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nombre</th>
                <th scope="col">apellidos</th>
                <th scope="col">año</th>
                <th scope="col">calificaciones</th>
                <th scope="col">matriculas</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for alumno in alumnos  %}
            <tr>
                <th scope="row">{{ alumno.id ? alumno.id : "" }}</th>
                <td>{{ alumno.nombre ? alumno.nombre : ""}}</td>
                <td>{{ alumno.apellidos ? alumno.apellidos : ""}}</td>
                <td>{{ alumno.anionacimiento ? alumno.anionacimiento|date() : ""}}</td>
                <td>

                </td>
                <td>
                    {% for asignatura in alumno.getMatricula %}
                        <li>{{ asignatura.getNombre }}</li>
                    {% endfor %}
                    <a class="btn btn btn-info mt-1" href="{{ path('addMatricula',{'id':alumno.id}) }}">Matricular</a>
                </td>
                <td>
                    <a class="btn btn btn-warning" href="{{ path('updateAlumno',{'id':alumno.id}) }}">Actualizar</a>
                    <a class="btn btn btn-danger" href="{{ path('deleteAlumno',{'id':alumno.id}) }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
