{% extends 'base.html.twig' %}

{% block title %}Hello AlumnosController!{% endblock %}

{% block body %}
{{ dump() }}
<div class="container ">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nombre</th>
                <th scope="col">apellidos</th>
                <th scope="col">año</th>
                <th scope="col">calificaciones</th>
                <th scope="col">matriculas</th>
            </tr>
        </thead>
        <tbody>
        {% for alumno in alumnos  %}
            <tr>
                <th scope="row">{{ alumno.id ? alumno.id : "" }}</th>
                <td>{{ alumno.nombre ? alumno.nombre : ""}}</td>
                <td>{{ alumno.apellidos ? alumno.apellidos : ""}}</td>
                <td>{{ alumno.anionacimiento ? alumno.anionacimiento|date() : ""}}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
