{% extends 'base.html.twig' %}

{% block title %}Hello AsignaturasController!{% endblock %}

{% block body %}

    <div class="container ">
        {% for message in app.flashes('notice') %}
            <div class=" alert alert-success">
                {{ message }}
            </div>
        {%  endfor %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nombre</th>
                <th scope="col">titulacion</th>
                <th scope="col">creditos</th>
                <th scope="col">curso</th>
                <th scope="col">Max. alumnos</th>
                <th scope="col">alumnos</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for asignatura in asignaturas  %}
                <tr>
                    <th scope="row">{{ asignatura.id ? asignatura.id : "" }}</th>
                    <td>{{ asignatura.nombre ? asignatura.nombre : ""}}</td>
                    <td>{{ asignatura.titulacion ? asignatura.titulacion : ""}}</td>
                    <td>{{ asignatura.creditos ? asignatura.creditos : ""}}</td>
                    <td>{{ asignatura.curso ? asignatura.curso|date() : ""}}</td>
                    <td>{{ asignatura.maxalumnos ? asignatura.maxalumnos : ""}}</td>
                    <td>
                        {% for alumno in asignatura.getAlumnos %}
                            <li>{{ alumno.getId ~ ' ' ~ alumno.getNombre ~ ' ' ~ alumno.getApellidos  }}</li>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn btn-warning" href="{{ path('updateAsignatura',{'id':asignatura.id}) }}">Actualizar</a>
                        <a class="btn btn btn-danger" href="{{ path('deleteAsignatura',{'id':asignatura.id}) }}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
